/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Basic styling for the home page */
.home-page {
  color: #333;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.get-started-button {
  background-color: #FFC107;
  color: black;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-started-button:hover {
  background-color: #e0a800;
}

